.main-header {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 70%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 7% 8% 30% 8%;
  background-color: rgba(255, 141, 2, 0.781);
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

@media only screen and (max-width: 1024px) {
  .main-header {
    width: 100%;
    margin: 0;
  }
}