nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #4056A1;
  color: #FFFFFF;
}

nav span {
  align-items: center;
  font-family: 'Bungee', sans-serif;
  font-size: 32px;
}

nav p {
  margin-bottom: 0;
}

nav div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
}

i.fa-solid {
  text-align: center;
  color: red;
}

@media only screen and (max-width: 1024px) {
  nav{
    background-color: rgba(255, 141, 2, 0.781);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  }
}