button {
  background-color: #4056A1;
  color: #FFFFFF;
}

form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

label {
  width: 100%;
  text-align: start;
}

textarea {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 4px solid black;
  width: 100%;
  padding: 20px;
}

.form-submit {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-family: 'Bungee', sans-serif;
}

button:hover {
  border: 2px solid skyblue;
}

#er {
  justify-content: center;
  padding-top: 10px;
  padding-left: 1%;
  padding-bottom: 10px;
  color: red;
  font-family: "Source Sans 3", sans-serif;
  width: 100%;
  border: 5px solid red;
  margin-top: 20px;
}