article.tweet {
  border: 4px solid black;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article.tweet:hover {
  box-shadow: 5px 5px 1px silver;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: larger;
  align-items: center;
  background-color: transparent;
  height: 80px;
  padding: 1em;
}

div.user {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

div.user span {
  display: flex;
  align-items: center;
}

article.tweet p {
  text-align: start;
  border-bottom: 4px solid black;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em;
  width: 98%;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: medium;
}

.tweet i {
  color: darkslateblue;
  margin: 5%;
}

article.tweet footer div {
  display: block;
  flex-direction: row;
  justify-content: space-between;
}

article.tweet footer span {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 3%;
}

.tweet i:hover {
  color: darkgoldenrod;
}

section.tweet-icons {
  width: 20%;
  display: block;
}