article.tweet {
  border: 4px solid black;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article.tweet:hover {
  box-shadow: 5px 5px 1px silver;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: larger;
  align-items: center;
  background-color: transparent;
  height: 80px;
  padding: 1em;
}

article.tweet p {
  text-align: start;
  border-bottom: 4px solid black;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em;
  width: 98%;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  font-size: medium;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

article.tweet i {
  color: black;
  padding: 0.5em;
}

article.tweet footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

article.tweet footer span {
  padding-top: 7px;
}

article.tweet footer i {
  color: darkslateblue;
}

article.tweet footer i:hover {
  color: darkgoldenrod;
}

section.icons {
  width: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}